<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loozb.mapper.ErrorInfoMapper">



	<select id="selectIdPage" resultType="java.lang.Long">
		select id from sys_error_info
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					or url like CONCAT('%',#{cm.keyword},'%')
					or instance like CONCAT('%',#{cm.keyword},'%')
					or exception like CONCAT('%',#{cm.keyword},'%')
					or method like CONCAT('%',#{cm.keyword},'%')
					or uuid like CONCAT('%',#{cm.keyword},'%')
					or status like CONCAT('%',#{cm.keyword},'%')
					or agent like CONCAT('%',#{cm.keyword},'%')
					or name like CONCAT('%',#{cm.keyword},'%')
					or user_id like CONCAT('%',#{cm.keyword},'%')
					or ip like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
		</where>
	</select>
</mapper>
