<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loozb.mapper.blog.MessageMapper">

	<!-- 查询列表-->
	<select id="selectIdPage" resultType="java.lang.Long">
		SELECT id FROM tb_message
		<where>
			<if test="cm.keyword != null">
				and name like CONCAT('%',#{cm.keyword},'%')
			</if>
			and available ='1'
		</where>
		ORDER BY id DESC
	</select>

</mapper>
