<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loozb.mapper.sys.OpinionMapper">
	<select id="selectIdPage" resultType="java.lang.Long">
		select id from sys_opinion
		<where>
			<if test="cm.keyword != null and cm.keyword != ''">
				and (
					title like CONCAT('%',#{cm.keyword},'%')
					or content like CONCAT('%',#{cm.keyword},'%')
				)
			</if>
			and available='1'
		</where>
	</select>
</mapper>
